#main-header{
    background-color: #176888;
}

.submit-btn{
    width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #5b8da1;
	font-size: 1em;
	font-weight: bold;
	margin-top: 40px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

input{
	width: 30%;
	height: 40px;
	background: white;
	margin: 20px auto;
	padding: 10px;
	outline: none;
	border-radius: 5px;
    border: 2px solid black;
}
#category{
    width: 30%;
	height: 37px;
	background: white;
	margin: 20px auto;

	outline: none;
	border-radius: 5px;
    border: 2px solid black;
}

#btn {
    background-color: white;
    border: none;
    color: #0d2d3a;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}

#btn.active {
    transform: translateX(-130px);
}

nav {
    background-color: #0d2d3a;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

nav.active {
    transform: translateX(0);
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    padding: 1rem 0;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover{
	text-decoration: none;
	color: white;
}

nav button{
	border: none;
	background-color: #0d2d3a;
	color: white;
	padding: 0;
	cursor: pointer;
}

body.dark {
    background-color: black;
    color: blue;
}

.pagination{
	margin-top: 2rem;
	text-align: center;
}
.pagination a{
	text-decoration: none;
	color:rgb(164, 201, 237);
	padding:0.5.rem;
	border: 1px;
	margin :0 1rem;
}